* {
    font-family: sans-serif;
}

.red {
    background-color: #bc6665;
    width: 250px;
    height: 250px;
    padding: 10px;
    color: #fff;
    font-size: 1.50rem;
}

.blue {
    background-color: #5d9cec;
    width: 250px;
    height: 250px;
    padding: 10px;
    color: #fff;
    font-size: 1.50rem;
}

.green {
    background-color: #97cd76;
    width: 250px;
    height: 250px;
    padding: 10px;
    color: #fff;
    font-size: 1.50rem;
}